yfinance>=1.5.1
pandas==2.2.2
numpy==1.26.4
sqlalchemy==2.0.30
apscheduler==3.10.4
streamlit==1.36.0
pyarrow==14.0.2
plotly==5.22.0
pytest==8.2.2
python-dotenv==1.0.1
pydantic==2.7.4
streamlit-autorefresh==1.0.1